<header>
    <nav>
        <img src="/assets/img/pomartangerinasww.avif">
        <div class="menu">
        <li><a routerLink="/home">home</a></li>
        </div>
        <details>
            <summary>Administração</summary>
        <ul class="class">
            
            <li><a routerLink="/cadUsuario">Usuário</a></li>
            <li><a href="#">Material</a></li>
            <li><a href="#">Produto</a></li>
        </ul>
        </details>
        <details>
            <summary>Pomar</summary>
        <ul class="class">
            <li><a href="#">cadastro</a></li>
            <li><a href="#">movimento</a></li>
            <li><a href="#">Colheita</a></li>
        </ul>
    </details>
    </nav>
        
</header>
